<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<h1>edit user</h1>

<form th:method="POST" th:action="@{/admin/edit}" th:object="${user}">
    <input type="hidden" name="id" th:field="${user.id}">

    <label for="firstName">Имя</label>
    <input type="text" th:field="*{firstName}" id="firstName">

    <label for="lastName">Фамилия</label>
    <input type="text" th:field = "*{lastName}" id = "lastName">

    <label for="sex">Пол</label>
    <input type="text" th:field = "*{sex}" id = "sex">

    <label for="smoker">Курящий</label>
    <input type="checkbox" th:field = "*{smoker}" id = "smoker">

    <label for="admin">Admin</label>
    <input type="checkbox" name="roleAdmin" th:value="ROLE_ADMIN" id = "admin" >

    <input type="submit" value="Edit">


</form>
<form th:action="@{/logout}">
    <button type="submit">logout</button>
</form>
</body>
</html>
